@font-face {
  font-family: 'iconfont';  /* project id 838020 */
  src: url('https://at.alicdn.com/t/font_838020_3ismvdt3142.eot');
  src: url('https://at.alicdn.com/t/font_838020_3ismvdt3142.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_838020_3ismvdt3142.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_838020_3ismvdt3142.woff') format('woff'),
  url('https://at.alicdn.com/t/font_838020_3ismvdt3142.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_838020_3ismvdt3142.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nice-icon-dashujuhangai-icon256:before {
  content: "\e601";
}

.nice-icon-hudongbaiban-icon256:before {
  content: "\e602";
}

.nice-icon-kaifangshengtai-icon256:before {
  content: "\e603";
}

.nice-icon-kejianzhuanma-icon256:before {
  content: "\e604";
}

.nice-icon-duochangjingshijian-icon256:before {
  content: "\e605";
}

.nice-icon-zhinengfenxi-icon256:before {
  content: "\e606";
}

.nice-icon-yingxiaoliebian-icon256:before {
  content: "\e607";
}

.nice-icon-shijianyunhang-icon256:before {
  content: "\e608";
}

.nice-icon-jiandanyiyong-icon256:before {
  content: "\e609";
}

.nice-icon-kehuzhuanhua-icon256:before {
  content: "\e60a";
}

.nice-icon-zhuoyueyinshipin-icon256:before {
  content: "\e60b";
}

.nice-icon-yunduanlianjie-icon256:before {
  content: "\e60c";
}

.nice-icon-jingzhunchuda-icon256:before {
  content: "\e60d";
}

.nice-icon-shengtaikaifang-icon256:before {
  content: "\e60e";
}

.nice-icon-zhinengduihuajiqi-icon256:before {
  content: "\e60f";
}

.nice-icon-zhinengluzhi-icon256:before {
  content: "\e610";
}

.nice-icon-AIshibie-icon256:before {
  content: "\e611";
}

.nice-icon-danxingtiaozheng-icon256:before {
  content: "\e612";
}

.nice-icon-tupuwenda-icon256:before {
  content: "\e613";
}

.nice-icon-lianjiekehu-icon256:before {
  content: "\e614";
}

.nice-icon-lock_fill:before {
  content: "\e709";
}

.nice-icon-lock1:before {
  content: "\e70a";
}

.nice-icon-mail:before {
  content: "\e70d";
}

.nice-icon-mail_fill:before {
  content: "\e713";
}

.nice-icon-people_fill:before {
  content: "\e715";
}

.nice-icon-people:before {
  content: "\e718";
}

.nice-icon-shangpin:before {
  content: "\e74e";
}

.nice-icon-liuyan1:before {
  content: "\e61f";
}

.nice-icon-shouru:before {
  content: "\e645";
}

.nice-icon-liuyan:before {
  content: "\e638";
}

.nice-icon-fangwenliang:before {
  content: "\e634";
}

.nice-icon-shangping:before {
  content: "\e627";
}

.nice-icon-user:before {
  content: "\e7ae";
}

.nice-icon-lock:before {
  content: "\e7c9";
}

.nice-icon-shezhi:before {
  content: "\e712";
}

.nice-icon-dot-circle:before {
  content: "\efa3";
}

.nice-icon-read:before {
  content: "\e7d8";
}

.nice-icon-deploymentunit:before {
  content: "\e7d2";
}

.nice-icon-appstoreadd:before {
  content: "\e8eb";
}

.nice-icon-pic-right:before {
  content: "\e7f6";
}

.nice-icon-pic-left:before {
  content: "\e7f7";
}

.nice-icon-block:before {
  content: "\e7df";
}

.nice-icon-earth:before {
  content: "\e781";
}

.nice-icon-dashboard:before {
  content: "\e78b";
}

.nice-icon-bell:before {
  content: "\e7c4";
}

.nice-icon-indent:before {
  content: "\e7f3";
}

.nice-icon-outdent:before {
  content: "\e7f4";
}

.nice-icon-flag_fill:before {
  content: "\e6fb";
}

.nice-icon-flag:before {
  content: "\e6fc";
}

.nice-icon-flip:before {
  content: "\e6fd";
}

.nice-icon-flip_fill:before {
  content: "\e6fe";
}

.nice-icon-homepage_fill:before {
  content: "\e702";
}

.nice-icon-homepage:before {
  content: "\e703";
}

.nice-icon-integral_fill:before {
  content: "\e704";
}

.nice-icon-integral:before {
  content: "\e705";
}

.nice-icon-label:before {
  content: "\e706";
}

.nice-icon-label_fill:before {
  content: "\e707";
}

.nice-icon-manage_fill:before {
  content: "\e70b";
}

.nice-icon-manage:before {
  content: "\e70c";
}

.nice-icon-mine:before {
  content: "\e70e";
}

.nice-icon-mine_fill:before {
  content: "\e70f";
}

.nice-icon-mobilephone_fill:before {
  content: "\e710";
}

.nice-icon-mobilephone:before {
  content: "\e711";
}

.nice-icon-picture_fill:before {
  content: "\e716";
}

.nice-icon-picture:before {
  content: "\e717";
}

.nice-icon-prompt_fill:before {
  content: "\e71b";
}

.nice-icon-prompt:before {
  content: "\e71c";
}

.nice-icon-qrcode_fill:before {
  content: "\e71d";
}

.nice-icon-qrcode:before {
  content: "\e71e";
}

.nice-icon-refresh:before {
  content: "\e71f";
}

.nice-icon-remind_fill:before {
  content: "\e720";
}

.nice-icon-remind:before {
  content: "\e721";
}

.nice-icon-yonghuming1:before {
  content: "\e65a";
}

.nice-icon-mimacopy:before {
  content: "\e6b1";
}

.nice-icon-lingdang:before {
  content: "\e6f1";
}
